.album-container {
  background-color: #f0f0f0;
  width: 1400px;
  height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  border-radius: 20px;
}

.album-container h3 {
  display: flex;
  flex-direction: column;
}

.music-container {
  margin-top: 40px;
  width: 1400px;
  background-color: #f0f0f0;
  border-radius: 20px;
  
}

.music-container ul {
  display: flex;
  justify-content: center;
}

.music-cards {
  gap: 24px;
  padding: 15px;
  box-shadow: 6px 6px 6px 4px #808080;
  background-color: #c0c0c0;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 800px;
}

#favoriteBox {
  margin-right: 5px;
}