body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-image: url('./images/music-studio-wallpaper-1920x1200_6.jpg');
  background-repeat: initial;
  background-position-x: 50%;
  width: 100vw;
}

.container-login {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 500x;
  gap: 70px;
  background-color: #f0f0f0;
  border-radius: 10%;
}

.heading {
  color: black;
}

.container-forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 300px;
  height: 150px;
}

.input-name {
  padding: 3px;
  margin-bottom: 2em;
  margin-left: 10px;
  border-radius: 50px;
  width: 200px;
  text-align: center;
}

.button-login {
  border-radius: 10%;
  background: #957fef;
  color: black;
  height: 3em;
  width: 5em;
}

.button-login:disabled {
  background-color: #b79ced;
}
.button-login:hover {
  background-color: #6247aa;
}

main {
  display: flex;
  height: 800px;
  justify-content: center;
  align-items: center;
}